*,
:before,
:after {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 1440px;
  position: relative;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
}
body::after {
  content: "";
  background: url(../image/pngwing.com.png) no-repeat center top / cover;
  opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

/* header */
.header {
  width: 100%;
  margin: 0 auto;
}
.header__about {
  width: 90%;
  align-items: center;
  display: flex;
  height: 120px;
  font-family: "Lilita One";
  font-style: normal;
}
.header__logo {
  width: 35%;
  font-size: 450%;
  color: black;
  font-family: "Lilita One";
  margin-left: 4%;
  margin-right: 3%;
  text-shadow: 5px 5px 5px#C0C0C0;
}
.header__nav {
  display: flex;
  margin-top: -4%;
  margin-right: 1%;
  margin-left: 10%;
  width: 46%;
}
.header__nav-contacts {
  display: flex;
  margin-right: 5%;
}
.header__nav-contacts a {
  font-family: "IBM Plex Serif";
  font-size: 90%;
  color: #000000;
  list-style: none;
  font-weight: 500;
  text-decoration: none;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 1px;
  transition: background-size 0.3s;
}
.header__nav-contacts a:hover {
  background-size: 100% 1px;
}
.header__contacts-image {
  width: 12%;
}
.header__contacts-image img {
  width: 100%;
}
.header__menu {
  display: flex;
  background-color: #b9e1ff;
  height: 70px;
  box-shadow: 10px 0px 60px #b9e1ff;
}
.header__menu-row {
  margin-top: 1.4%;
  margin-left: 10%;
  width: 60%;
}
.header__menu-row a {
  font-family: "IBM Plex Serif";
  color: black;
  font-size: 20px;
  align-items: center;
  text-decoration: none;
  margin-left: 2%;
  margin-right: 2%;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 1px;
  transition: background-size 0.3s;
}
.header__menu-row a:hover {
  background-size: 100% 1px;
}
.header__menu-image {
  width: 20%;
  height: 40%;
  display: flex;
  margin-top: 1.4%;
}
.header__menu-image img {
  width: 100%;
  height: 100%;
  margin-left: 1%;
  margin-right: 1%;
}
.header__menu-image img:hover {
  cursor: pointer;
  transform: scale(1.5);
}
.header__advertising {
  margin-top: 2%;
  margin-bottom: 2%;
}

/* main */
.main {
  width: 90%;
  margin: 0 auto;
}
.main__conteiner {
  display: flex;
  margin-bottom: 5%;
}
.main__conteiner-menu {
  width: 23%;
  margin-left: 10px;
  margin-right: 0px;
}
.main__menu-row {
  margin-top: 40px;
  margin-right: 50px;
  border-radius: 30px;
  background: rgba(209, 227, 248, 0.7);
}
.main__menu-row li {
  padding-left: 40px;
  padding-right: 30px;
  padding-top: 30px;
  height: 90px;
  font-family: "Lilita One";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  list-style-type: none;
  border-top: 1px solid white;
}
.main__menu-row li:hover {
  font-weight: 500;
  transform: scale(1.2);
  cursor: pointer;
}

.main__conteiner-catalog {
  width: 80%;
  margin-left: 40px;
}
.main__catalog-all {
  display: flex;
  flex-wrap: wrap;
}
.main__catalog-product {
  width: 200px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.main__catalog-product:hover {
  transform: scale(1.2);
  cursor: pointer;
}
.main__product-image {
  width: 160px;
  height: 160px;
}
.main__product-name {
  margin-top: 10px;
  font-family: "IBM Plex Serif";
  font-style: italic;
  font-weight: 700;
  font-size: 15px;
}
.main__product-taste {
  margin-top: 10px;
  font-family: "IBM Plex Serif";
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
}
.main__product-button {
  display: flex;
  color: black;
  margin-top: 10px;
  margin-right: 50px;
}

.main__button-image {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
.main__button-price {
  font-family: "IBM Plex Serif";
  font-style: italic;
  font-weight: 400;
  font-size: 15px;
  margin-left: 10px;
}

.about__conteiner {
  width: 70%;
  margin-bottom: 7%;
}
.about__info-title {
  font-family: IBM Plex Serif;
  font-size: 48px;
  font-style: italic;
  text-align: center;
  color: black;
  margin-bottom: 2%;
}
.about__info-experience {
  text-align: center;
  font-family: IBM Plex Serif;
  font-size: 24px;
  font-style: italic;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: black;
  margin-bottom: 1%;
}
.about__info-details {
  text-align: center;
  font-family: IBM Plex Serif;
  font-size: 24px;
  font-style: italic;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: 0.02em;
  color: black;
  margin-bottom: 3%;
}
.about__info-second {
  text-align: center;
  font-family: IBM Plex Serif;
  font-size: 24px;
  font-style: italic;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: 0.02em;
  color: black;
}

.contact {
  width: 75%;
  margin: 0 auto;
}
.contact__conteiner-title {
  width: 100%;
  font-family: "IBM Plex Serif";
  text-align: center;
  font-size: 34px;
  font-style: italic;
  font-weight: bold;
  margin-bottom: 8%;
}
.contact__conteiner-info {
  display: flex;
}
.contact__info-details {
  width: 50%;
  font-size: 20px;
  line-height: 31px;
  font-family: "IBM Plex Serif";
  font-style: italic;
  list-style-type: none;
  font-size: 24px;
  line-height: 40px;
  top: 250px;
  width: 516px;
  left: 340px;
}
.contact__conteiner-map {
  width: 50%;
}

.footer {
  margin: 0 auto;
  width: 90%;
  margin-top: 7%;
}
.footer__conteiner {
  display: flex;
}
.footer__content-image {
  margin-top: 10px;
}
.footer__image {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}
.footer__content-details {
  margin-top: 20px;
  color: grey;
  font-size: 18px;
  font-style: italic;
}
.footer__content-search {
  width: 50%;
  margin-top: 20px;
  margin-left: 250px;
}
.footer__search-logo {
  color: grey;
  font-size: 20px;
  width: 500px;
  height: 50px;
}
.footer__search-age {
  width: 80px;
  height: 80px;
  margin-top: 30px;
  margin-left: 250px;
}

/*  */
.main__catalog-odnorazovye-sigarety {
  display: none;
  flex-wrap: wrap;
}
.main__catalog-zhidkosty {
  display: none;
  flex-wrap: wrap;
}
.main__catalog-isparitely {
  display: none;
  flex-wrap: wrap;
}
.main__catalog-katridgy {
  display: none;
  flex-wrap: wrap;
}
.main__catalog-electronnye-sigarety {
  display: none;
  flex-wrap: wrap;
}
.main__catalog-pod-systemy {
  display: flex;
  flex-wrap: wrap;
}

.product {
  display: none;
}
.product-info {
  display: none;
}
.product__background {
  height: 100%;
  width: 100%;
  overflow: auto;
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  display: block;
  z-index: 1;
  left: 0;
  top: 0;
}
.product__conteiner {
  width: 700px;
  height: 700px;
  background: #f9f7f7;
  margin-top: 5%;
  margin-left: 28%;
}
.product__exit-image {
  width: 30px;
  height: 30px;
  margin-left: 90%;
  margin-top: 5%;
}
.product__conteiner-title {
  margin-left: 10%;
  margin-top: 3%;
  font-size: 20px;
  font-family: "Inter";
  font-style: normal;
}
.product__conteiner-info {
  display: flex;
  margin-top: 6%;
  margin-left: 8%;
}
.product__info-image {
  margin-left: 3%;
}
.product__image {
  width: 230px;
  height: 300px;
}
.product__price-details {
  box-shadow: 5px 5px 5px 5px #dfdfdf;
  border-radius: 5px;
  width: 260px;
  height: 150px;
  margin-top: 15%;
  background: white;
  margin-left: 8%;
}
.product__details-value {
  display: flex;
  margin-left: 12%;
  margin-top: 8%;
}
.product__value-noactual {
  margin-top: 8%;
  font-size: 26px;
  font-family: "Do Hyeon";
  font-style: normal;
  font-weight: 400;
}
.product__button-basket {
  width: 80%;
  height: 40px;
  margin-left: 10%;
  margin-top: 5%;
  border-radius: 20px;
  color: white;
  background: #5082e4;
  font-family: "Do Hyeon";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
}
.product__details-delivery {
  font-size: 10px;
  margin-left: 34%;
  margin-top: 4%;
}
.product__price-delivery {
  margin-left: 30%;
  margin-top: 20px;
}
.product__price-delivery-text {
  font-size: 18px;
  color: #5082e4;
  text-decoration: none;
}
.product__conteiner-details {
  display: flex;
  margin-top: 5%;
}
.product__details-line {
  width: 180px;
}
.product__line-image {
  width: 180px;
}
.product__details-title {
  width: 200px;
  margin-left: 10%;
  margin-right: 10%;
  font-size: 25px;
  font-family: "Inter";
  font-style: normal;
}
.product__conteiner-text {
  margin-top: 5%;
  margin-left: 8%;
  margin-right: 8%;
  font-size: 23px;
  font-family: "Inter";
  font-style: normal;
}

.basket__wrapper-none {
  display: block;
  padding-top: 5%;
  padding-left: 8%;
}
.basket-bottom {
  margin-top: 10%;
}

.basket-button {
  margin-top: 10%;
  height: 100%;
  display: flex;
}
.basket-button button {
  width: 17%;
  height: 40px;
  background-color: #e18383;
  border-radius: 20px;
  border: none;
  font-size: 25px;
  font-family: "IBM Plex Serif";
}

.basket__conteiner {
  display: none; /* Скрыто по умолчанию */
  position: fixed; /* Оставаться на месте */
  z-index: 1; /* Сидеть на вершине */
  left: 0;
  top: 0;
  width: 100%; /* Полная ширина */
  height: 100%; /* Полная высота */
  overflow: auto; /* Включите прокрутку, если это необходимо */
  background-color: rgb(0, 0, 0); /* Цвет запасной вариант */
  background-color: rgba(0, 0, 0, 0.4); /* Черный с непрозрачностью */
}
/* Модальное содержание/коробка */
.basket__conteiner-wrapper {
  background-color: #d1e3f8;
  margin: 15% auto; /* 15% сверху и по центру */
  padding: 20px;
  border: 1px solid #888;
  width: 60%; /* Может быть больше или меньше, в зависимости от размера экрана */
  border-radius: 3%;
}

/* Кнопка закрытия */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.basket__title {
  margin-top: 50px;
  text-align: center;
  font-family: "IBM Plex Serif";
  font-size: 24px;
  font-style: italic;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: 0.02em;
  text-align: center;
  color: black;
}
.basket_title {
  margin-left: 40px;
  font-family: "IBM Plex Serif";
  font-size: 24px;
  font-style: italic;
  font-weight: 500;
  line-height: 31px;
  text-align: left;
}
.basket_text {
  margin-left: 40px;
  font-family: "IBM Plex Serif";
  font-size: 24px;
  font-style: italic;
  font-weight: 500;
  line-height: 31px;
  text-align: left;
}

/* добавление товаров */
.basket__shop-info {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  width: 70%;
  height: 200px;
}
.basket__info-image {
  width: 30px;
  height: 30px;
  margin-left: 20px;
}
.basket__shop-name {
  margin-top: 40px;
  font-size: 18px;
  margin-left: 30px;
}
.basket__shop-quantity {
  margin-top: 40px;
  font-size: 18px;
  margin-left: 30px;
}
.basket__shop-price {
  margin-top: 40px;
  font-size: 18px;
  margin-left: 30px;
}
.basket__shop-cross {
  margin-top: 40px;
  width: 30px;
  height: 30px;
}
.basket__wrapper-summ {
  display: flex;
  margin-top: 5%;
}
.basket__summ-title {
  margin-left: 500px;
  font-size: 22px;
}
.basket__summ-number {
  margin-left: 15px;
  font-size: 22px;
}
/* окно авторизации */
.container {
  position: fixed;
  top: 0;
  z-index: 0;
  width: 100%; /* Полная ширина */
  height: 100%; /* Полная высота */
  background-color: rgb(0, 0, 0); /* Цвет запасной вариант */
  background-color: rgba(0, 0, 0, 0.4); /* Черный с непрозрачностью */
}
.table {
  z-index: 0;
  position: relative;
  display: flex;
  width: 400px;
  height: 400px;
  margin: 30px auto 0;
  background-color: rgb(121, 179, 215);
  top: 8%;
  margin-top: 10%;
  border-radius: 20px;
}
.table__cell {
  position: relative;
  vertical-align: middle;
  box-sizing: border-box;
}
#registration__form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
input {
  padding-left: 10px;
  font-family: "IBM Plex Serif";
  font-weight: 700;
  font-style: italic;
  line-height: 42px;
  background-color: #edf2f8;
  margin: 5px;
  height: 24px;
  width: 200px;
  border-radius: 10px;
  border: 0;
}
#exit {
  cursor: pointer;
  position: absolute;
  right: 15px;
  top: 10px;
}
.exit-btn {
  width: 30px;
  height: 30px;
}
.registration__text {
  padding-top: 20px;
  font-size: 24px;
  font-weight: 800;
  margin-top: 0;
}
.registration__fields {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.registration-btn {
  cursor: pointer;
  padding: 5px 0;
  text-align: center;
  width: 180px;
  background-color: #a9dba8;
  border-radius: 38px;
  margin-top: 30px;
  font-size: 16px;
}
.question {
  color: #165195;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 2px;
  font-size: 10px;
}
.signup-btn {
  cursor: pointer;
  padding: 5px 0;
  font-size: 16px;
  text-align: center;
  width: 180px;
  background-color: #edf2f8;
  border-radius: 38px;
}
#signup__form {
  display: none;
  flex-wrap: wrap;
  justify-content: center;
}
.signup__text {
  padding-top: 20px;
  font-size: 24px;
  font-weight: 800;
  margin-top: 0;
}
.signup__fields {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.signin-btn {
  margin-top: 30px;
  cursor: pointer;
  padding: 5px 0;
  font-size: 16px;
  text-align: center;
  width: 180px;
  background-color: #edf2f8;
  border-radius: 38px;
}
.forgot-btn {
  cursor: pointer;
  padding: 5px 0;
  font-size: 16px;
  text-align: center;
  width: 180px;
  background-color: #edf2f8;
  border-radius: 38px;
  margin-top: 10px;
}
#toRegistration {
  cursor: pointer;
  padding: 5px 0;
  text-align: center;
  width: 180px;
  background-color: #a9dba8;
  border-radius: 38px;
  font-size: 16px;
}
